.image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
}

.image-card {
    width: 250px;
    height: 400px;
    overflow: hidden;
    transition: transform 0.2s ease;
}

.image-card:hover {
    transform: scale(1.1);
}