
.page-container {
    position: relative;
    min-height: 100vh;

}

.page-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/bg_index.JPEG');
    background-size: cover;
}

.page-content {
    position: relative;
    z-index: 1;
    text-align: center;
}

.page-title {
    margin-top: 20px;
    text-align: center;
    color: #d2d0d0;
}

.image-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.image-container {
    margin: 20px;
}
.login-button {
    background-color: #007bff; /* Primary color */
    color: #ffffff; /* Text color */
    border: none; /* Remove border */
}

.login-button:hover {
    background-color: #0056b3; /* Darker background color on hover */
}
