/* TeamCard.module.css */
.card {
    margin-bottom: 20px;
    margin-left: 20px;
    width: 300px;
}

.titleArea {
    background-color: #282828; /* Light gray background for the title area */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 10px;
}

.playersArea {
    background-color: #262626; /* Lighter gray background for the players area */
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 10px;
}

.cardTitle {
    font-size: 1.1rem;
    margin-bottom: 5px;
    color: #e5e3e3;
}

.cardText {
    font-size: 1rem;
    margin-bottom: 5px;
}

.player:nth-child(odd) {
    color: #007bff; /* Blue color for odd players */
}

.player:nth-child(even) {
    color: #28a745; /* Green color for even players */
}
/* Team.module.css */
.buttonContainer {
    margin-top: 20px; /* Add margin to the top of the button */
    margin-left: 20px; /* Center the button */
    margin-bottom: 20px;
}

.createTeamButton {
    background-color: #28a745; /* Green background */
    color: #ffffff; /* White text */
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}